*{
    color: rgb(236, 158, 12);
    background-color:#7851a9;
    color:#db666d;
    color: #083d78;
    background-color: #bbb;
    background-color: #6185ac;
    color: #6185ac;
    color: cornflowerblue;
    color: #888;
    background-color: rgba(0,0,0,0.8);
    color:dimgray;
    background-color: #04AA6D;
    background-color: #45a049;
    color: rgb(233, 101, 60);
}