html,body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
}
main,footer{
    background-color: #81d4fa;
}
.box{
    color:black;
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
    padding: 30px; 
}
.pink {color:#db666d;}

.blue {color: #083d78;}

.mySlides {display: none}

.slideshow-container {
    max-width: 600px;
    position: relative;
    margin: auto;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
.text {
    font-weight: 600;
    color:#083d78;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
/* Number text (1/3 etc) */
.numbertext {
    color: black;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: black;
}
/*Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration:15s;
    animation-name: fade;
    animation-duration:15s;
}
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}
.box1, .box2{
    background-color: #039be5;
    margin-left: 20px;
    margin-right: 20px;
    padding: 40px;
    color: white;
}
.box1 .col-md-6 h4{
    text-align: justify;
    padding-top: 50px;
}
.box3{
    margin-left: 20px;
    margin-right: 20px;
    padding: 40px;
    color: white;
}
.footer{
    margin-left: 20px;
    margin-right:20px;
    padding: 10px;
    color: black;
}
.footer .row,.footer .row a{
    color: black;
}
.col-md-9 a{
    color: white;
}
.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 10px;
}
.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
#about .container{
    text-align: justify;
}
#about .col-md-3{
    color: white;
    background-color:#0B3C74;
    padding-top: 8%;
}
#about .col-md-9{
    color:white;
    background-color:#039be5;
    padding-top: 5%;
    padding-bottom: 5%;
}
#about .col-md-5{
    padding-top: 5rem;
}
#about h3, #testimonials h3{
    text-align: center;
    color: #083d78;
}
#about img{
    width: 100%;
    height: auto;
}
#about .box5{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
@media screen and (max-width:768px){
    #about .box5{
        display:block;
    }
}
#about .motto{
    width: 500px;
    border: 0.3rem solid white;
    background-color: #039be5;
    text-align: center;
    color: #b71c1c;
    margin-bottom: 2rem;
}
#testimonials{
    text-align: justify;
}
#testimonials .container{
 padding: 50px;
 text-align: center;
}
#testimonials .testimonial{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:20rem;
    margin-left: 5rem;
    margin-right: 5rem;
}
@media screen and (max-width:768px){
    #testimonials .testimonial{
        border: 1px solid #81d4fa;
        display:block;  
    }
    #testimonials .testimonial .card{
        margin-bottom: 2rem;
    }
}
.testimonial .content{
    padding: 2rem;
}

/* .testimonial .card{
    border-radius: 15px;
    background-color: #083d78;
    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.testimonial .card-header,.testimonial .card-footer {
    text-align: center;
    font-size: 2rem;
}
.testimonial .card-body{
    font-size: 1.5rem;
    background-color: #083d78;
    color: white;
} */

#testimonials .slideshow-container {
    position: relative;
    background: #4C6BA9;
    color: white;
}
/* Slides */
#testimonials .mySlides {
    display: none;
    padding: 80px;
    text-align: center;
}
/* Next & previous buttons */
#textimonials .prev,#testimonials .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
/* Position the "next button" to the right */
#testimonials .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
#testimonials .prev:hover,#testimonials .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
}
/* The dot/bullet/indicator container */
#testimonials .dot-container {
    text-align: center;
    padding: 20px;
}
/* The dots/bullets/indicators */
#testimonials .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
/* Add a background color to the active dot/circle */
#testimonials .active,#testimonials .dot:hover {
    background-color: #717171;
}
#testimonials q, .author{
    font-size:2rem;
}
#contact h3{
    text-align: center;
    color: #083d78;
}
#contact .container{
    text-align: center;
}
.text1, .container form{
    color:black;
}
.text2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
@media screen and (max-width:768px){
    .text2{
        display:block;
    }
}
.text2 .box4{
    margin: 10rem;
    padding: 3rem;
    background-color: #083d78;
    color: white; 
}
.form1 label{
    text-align:center;
}
.form1 input, .form1 textarea{
    border: none;
    border-bottom: 1px solid black;
}
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom:5px ;
}

input[type=submit]:hover {
    background-color: #45a049;
    
}
input[type=text],input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: #81d4fa;
}
#home .card-body{
    color: white;
    text-align: justify;
    background-color: #083d78;
    border-radius: 15px;
}
#home .card{
    height: 270px;
    border-radius: 15px;
}
.modal-content{
    color: black;
}
.modal-content a{
    color: #083d78;
    text-decoration: none;
}
.modal-content a:hover, .quicklinks a:hover,
.col-md-9 a:hover{
    color: #db666d;
    text-decoration: none;
}
#electrical .row, #plumbing .row,
#hvac .row, #solar .row{
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 5px;
    text-align:justify;
}
#electrical h3, #plumbing h3,
#hvac h3, #solar h3{
    text-align: center;
    color: #083d78;
}
#hvac img, #electrical img,#solar img,#plumbing img{
    width: 60%;
    border: 2px solid black;
    margin-left: 15%;
}
.quicklinks a{
    color: white;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}
  
#myBtn:hover {
    background-color: #555;
}
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
}
  
@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
}
