*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main-header{
    font-weight: 600;
    display: block;
}

nav{
    justify-content:space-around;
    align-items: center;
    min-height: 10vh;
    font-family: 'Poppins', sans-serif;
}
header .row .col-md-4{
    padding: 10px;
}
.logo img{
    width: 50%;
    height: auto;
    margin-left: 3rem;
}
.nav-links{
    display: flex;
    padding: 15px;
    justify-content:flex-end;
    margin-top:5vh;
    width: 100%;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    color: black;
    padding: 15px;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-weight: 600;
    font-size: 15px;
}
.nav-links a:hover{
    text-decoration: none;
    color: #F56059;
    border-bottom: 3px solid #083d78;
}
.dropdown-menu{
    display: block;
    background-color: #083d78;
}
.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    width: 35px;
    height: 3px;
    background-color: black;
    margin: 5px;
    transition: all 0.3s ease ;
}
@media screen and (max-width:1024px) {
    .nav-links{
        width:50%;
    }
}

@media screen and (max-width:768px) {
    body{
        overflow-x: hidden;
    }
    .logo img{
        width: 50%;
        height: auto;
        margin-left: 3rem;
    }
    .nav-links{
        position:absolute;
        right: 0px;
        min-height: 90vh;
        top: 8vh;
        background-color:#083d78;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in ;
        z-index: 1;
    }
    .burger{
        display: block;
    }
    .box2 .col-md-3{
        margin-bottom: 10px;
    }
    
}
.nav-active{
    transform: translateX(0%);
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}
